* {
    -webkit-font-smoothing: antialiased;
}
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic);*/
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;
}
#contact-buttons-bar{
    display: none;
}
a:hover{
    text-decoration: none;
}

#header_nav{
    background-color: #000;
    }
#menu li a{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
#menu li a:hover, #menu li a:active,#menu li a:after,#menu li a:focus{
     color: rgb(0, 219, 115);
     background-color: #000;
}
#menu #signin{
  color: rgb(0, 219, 115);
  letter-spacing: 1px;
}
.signin-icon{
    margin-right: 8px;
    color: rgb(0, 219, 115);
    font-family: fontawesome-webfont;
}
/*
==========================
Css of Main Section starts here
==============================
*/
#main-section{
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    color: #fff;
}
#main-section .heading{
    margin-top: 30px;
    font-size: 48px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.space-lg{
    padding-top: 18%;
}
.space-sm{
    padding-top: 10%;
}
.space-xs{
    padding-top: 80px;
}
.space{
    padding-top: 30px;
}
.section-end{
    padding-bottom: 30px;
}
#main-section #btn-write{
    padding: .8em 1.5em;
    background-color: #00db73;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
#tag-line-section{
    
}
.tag-line{
    min-height: 170px;
    padding: 50px;
    background-color: #009dff;
    color: #fff;
}
#features{
    background-color: #e6e6e6;
    color: #000;
    padding-bottom: 5em;
}
.featured-text{
    line-height: 2;
    letter-spacing: 1px;
}

#about-us{
    background-color: rgb(0, 219, 115);
    color: #fff;
    margin-top: -20px;
    padding: 20px;
    min-height: 400px;
}

#about-us-heading{
    padding-top: 30px;
}
.about-text{
    font-size: 24px;
    letter-spacing: 1px;
    padding: 30px;
    line-height: 2;
}
#support-volta{
    background-color: #252a31;
    min-height: 480px;
    color: #fff;
    padding: 30px;
}
#btn-donate{
    background-color: #ff3366;
    color: #fff;
    letter-spacing: 1px;
    padding: .8em 2.5em;
    font-size: 18px;
}
#footer-section{
    background-color: #000;
    min-height: 420px;
    color: #fff;
    padding: 20px;
}
.footer-text{
    font-family: serif;
    font-size: 18px;
}

#footer-section .social-icons{
    list-style: none;
}
#footer-section .social-icons li{
    float: none;
    margin-right: 8px;
    display: inline-block;
}.icon-bar{
    color: #000 !important;
    background-color: #fff !important;
}
@media(max-width:768px){
    .about-text{
        //font-size: 28px;
    }
}
@media (max-width:468px){
    .text-center{
        padding-left: 0px !important;
         padding-right: 0px !important;
    }
    .social-icons{
        display: flex;
       // margin-left: -10%;
    }
    .col-md-offset-1{
        margin-left: 0px !important;
        padding-left: 10px !important;
    }
}
@media (min-width:992px){
    #contact-buttons-bar{
    display: block;
}
}
@media (max-width:1220px){
    
        #menu>li>a{
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    
}


